<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your search results</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <main>
        <h2>
            <div class="counter"><%= book.length%> </div>
            Saved Books
        </h2>
        <% book.forEach(book => { %>
        <li>
            <div class="card">
                <div><img src=<%= book.image_url%>></div>
                <div class="title"><%= book.title%></div>
                <div class="author"><em><%= book.author%></em></div>
            </div>
            <form action="/books/<%= book.id%>" method="GET">
                <button type="submit">View Details</button>
            </form>
        </li>
        <% }) %>
    </main>
    <footer></footer>
</body>

</html>