<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your search results</title>
    <link rel="stylesheet" href="css/show.css">
</head>

<body>
    <main>
        <h2>Search Results</h2>

        <% book.forEach(book => { %>
        <li>
            <div class="card">
                <div><img src=<%= book.image%>></div>
                <div class="title"><%= book.title%></div>
                <div class="author"><em><%= book.author%></em></div>
                <div class="description"><%= book.description%></div>
                <div class="isbn"><%= book.isbn%></div>
            </div>
        </li>
        <% }) %>
    </main>
    <footer></footer>
</body>

</html>